
ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

ul li {
  display: block;
  position: relative;
  float: left;
  border:1px solid black;
  text-shadow: 3px 3px 10px purple;
  -moz-box-shadow: 0 0 5px 5px #fff;
  -webkit-box-shadow: 0 0 5px 5px #fff;
  box-shadow: 0 0 5px 5px #fff;
}

li ul {
  display: none;
}

ul li a {
  display: block;
  background: linear-gradient(white, blue);
  padding: 5px 39px 5px 15px;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
}

ul li a:hover {
    background: linear-gradient(white, blue);
}

li:hover ul {
  display: block;
  position: absolute;
}

li:hover li {
  float: none;
}

li:hover a {
  background:linear-gradient(#000, black);
}

li:hover li a:hover {
  background: linear-gradient(white, blue);
}

#drop-nav li ul li {
  border-top: 0px;
}

